In [1]:
test=input('Enter a string value: ')
test_list=[]
for i in test:
    if i not in test_list:
        test_list.append(i)
        print(i,'=',test.count(i))

Enter a string value: winter
w = 1
i = 1
n = 1
t = 1
e = 1
r = 1

In [2]:
numbers=34,12,7
if numbers[0]>numbers[1] and numbers[0]>numbers[1]:
    print(numbers[0])
elif numbers[1]>numbers[0] and numbers[1]>numbers[2]:
    print(numbers[1])
else:
    print(numbers[2])

34

In [3]:
def exponent(base,exp):
    return base**exp
b=float(input('Enter the base: '))
e=float(input('Enter the exponent: '))
print(exponent(b,e))

Enter the base: 3
Enter the exponent: 4
81.0

In [4]:
def sum(n):
    s=0
    for i in range(1,n):
        s+=i**3
    return s
number=4
print(sum(number))

36

In [5]:
for i in range(1,11):
    if i%2==0 and i%5==0:
        print('FizzBuzz')
    elif i%2==0:
        print('Fizz')
    elif i%5==0:
        print('Buzz')
    else:
        print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

In [6]:
numbers=[2,3,4,2,5,2,]
large=1
for number in numbers:
    if numbers.count(number)>large:
        large=numbers.count(number)
        frequent=number
print(frequent)

2

In [7]:
numbers=[2,1,3,1]
sum=0
for number in numbers:
    sum+=number**2
print(sum)

15

In [8]:
for i in range(1,16):
    if i%2==0:
        print(i,'- even')
    else:
        print(i,'- odd')

1 - odd
2 - even
3 - odd
4 - even
5 - odd
6 - even
7 - odd
8 - even
9 - odd
10 - even
11 - odd
12 - even
13 - odd
14 - even
15 - odd

In [9]:

f=float(input('Temperature in Fahrenheit= '))
c=((f-32)/9)*5
print('Temperature in Celsius=',c)

Temperature in Fahrenheit= 43
Temperature in Celsius= 6.111111111111112

In [10]:
def factorial(n):
    m=1
    for i in range(1,n+1):
        m*=i
    return m
number=3
print(factorial(number))

6